<launch>
  <!-- Launch cob_people_detection and remap topics -->
  
        <remap from="/head_xtion/depth/disparity" to="/camera/depth/disparity"/>
        <remap from="/head_xtion/depth/image" to="/camera/depth/image"/>
        <remap from="/head_xtion/depth/image/compressed" to="/camera/depth/image/compressed"/>
        <remap from="/head_xtion/depth/image/compressed/parameter_descriptions" to="/camera/depth/image/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image/compressed/parameter_updates" to="/camera/depth/image/compressed/parameter_updates"/>
        <remap from="/head_xtion/depth/image/compressedDepth" to="/camera/depth/image/compressedDepth"/>
        <remap from="/head_xtion/depth/image/compressedDepth/parameter_descriptions" to="/camera/depth/image/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image/compressedDepth/parameter_updates" to="/camera/depth/image/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/depth/image/theora" to="/camera/depth/image/theora"/>
        <remap from="/head_xtion/depth/image/theora/parameter_descriptions" to="/camera/depth/image/theora/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image/theora/parameter_updates" to="/camera/depth/image/theora/parameter_updates"/>
        <remap from="/head_xtion/depth/image_raw" to="/camera/depth/image_raw"/>
        <remap from="/head_xtion/depth/image_raw/compressed" to="/camera/depth/image_raw/compressed"/>
        <remap from="/head_xtion/depth/image_raw/compressed/parameter_descriptions" to="/camera/depth/image_raw/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_raw/compressed/parameter_updates" to="/camera/depth/image_raw/compressed/parameter_updates"/>
        <remap from="/head_xtion/depth/image_raw/compressedDepth" to="/camera/depth/image_raw/compressedDepth"/>
        <remap from="/head_xtion/depth/image_raw/compressedDepth/parameter_descriptions" to="/camera/depth/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_raw/compressedDepth/parameter_updates" to="/camera/depth/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/depth/image_raw/theora" to="/camera/depth/image_raw/theora"/>
        <remap from="/head_xtion/depth/image_raw/theora/parameter_descriptions" to="/camera/depth/image_raw/theora/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_raw/theora/parameter_updates" to="/camera/depth/image_raw/theora/parameter_updates"/>
        <remap from="/head_xtion/depth/image_rect" to="/camera/depth/image_rect"/>
        <remap from="/head_xtion/depth/image_rect/compressed" to="/camera/depth/image_rect/compressed"/>
        <remap from="/head_xtion/depth/image_rect/compressed/parameter_descriptions" to="/camera/depth/image_rect/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_rect/compressed/parameter_updates" to="/camera/depth/image_rect/compressed/parameter_updates"/>
        <remap from="/head_xtion/depth/image_rect/compressedDepth" to="/camera/depth/image_rect/compressedDepth"/>
        <remap from="/head_xtion/depth/image_rect/compressedDepth/parameter_descriptions" to="/camera/depth/image_rect/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_rect/compressedDepth/parameter_updates" to="/camera/depth/image_rect/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/depth/image_rect/theora" to="/camera/depth/image_rect/theora"/>
        <remap from="/head_xtion/depth/image_rect/theora/parameter_descriptions" to="/camera/depth/image_rect/theora/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_rect/theora/parameter_updates" to="/camera/depth/image_rect/theora/parameter_updates"/>
        <remap from="/head_xtion/depth/image_rect_raw" to="/camera/depth/image_rect_raw"/>
        <remap from="/head_xtion/depth/image_rect_raw/compressed" to="/camera/depth/image_rect_raw/compressed"/>
        <remap from="/head_xtion/depth/image_rect_raw/compressed/parameter_descriptions" to="/camera/depth/image_rect_raw/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_rect_raw/compressed/parameter_updates" to="/camera/depth/image_rect_raw/compressed/parameter_updates"/>
        <remap from="/head_xtion/depth/image_rect_raw/compressedDepth" to="/camera/depth/image_rect_raw/compressedDepth"/>
        <remap from="/head_xtion/depth/image_rect_raw/compressedDepth/parameter_descriptions" to="/camera/depth/image_rect_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_rect_raw/compressedDepth/parameter_updates" to="/camera/depth/image_rect_raw/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/depth/image_rect_raw/theora" to="/camera/depth/image_rect_raw/theora"/>
        <remap from="/head_xtion/depth/image_rect_raw/theora/parameter_descriptions" to="/camera/depth/image_rect_raw/theora/parameter_descriptions"/>
        <remap from="/head_xtion/depth/image_rect_raw/theora/parameter_updates" to="/camera/depth/image_rect_raw/theora/parameter_updates"/>
        <remap from="/head_xtion/depth/points" to="/camera/depth/points"/>
        <remap from="/head_xtion/depth/rectify_depth/parameter_descriptions" to="/camera/depth/rectify_depth/parameter_descriptions"/>
        <remap from="/head_xtion/depth/rectify_depth/parameter_updates" to="/camera/depth/rectify_depth/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/camera_info" to="/camera/depth_registered/camera_info"/>
        <remap from="/head_xtion/depth_registered/disparity" to="/camera/depth_registered/disparity"/>
        <remap from="/head_xtion/depth_registered/image" to="/camera/depth_registered/image"/>
        <remap from="/head_xtion/depth_registered/image/compressed" to="/camera/depth_registered/image/compressed"/>
        <remap from="/head_xtion/depth_registered/image/compressed/parameter_descriptions" to="/camera/depth_registered/image/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image/compressed/parameter_updates" to="/camera/depth_registered/image/compressed/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image/compressedDepth" to="/camera/depth_registered/image/compressedDepth"/>
        <remap from="/head_xtion/depth_registered/image/compressedDepth/parameter_descriptions" to="/camera/depth_registered/image/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image/compressedDepth/parameter_updates" to="/camera/depth_registered/image/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image/theora" to="/camera/depth_registered/image/theora"/>
        <remap from="/head_xtion/depth_registered/image/theora/parameter_descriptions" to="/camera/depth_registered/image/theora/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image/theora/parameter_updates" to="/camera/depth_registered/image/theora/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_raw" to="/camera/depth_registered/image_raw"/>
        <remap from="/head_xtion/depth_registered/image_raw/compressed" to="/camera/depth_registered/image_raw/compressed"/>
        <remap from="/head_xtion/depth_registered/image_raw/compressed/parameter_descriptions" to="/camera/depth_registered/image_raw/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_raw/compressed/parameter_updates" to="/camera/depth_registered/image_raw/compressed/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_raw/compressedDepth" to="/camera/depth_registered/image_raw/compressedDepth"/>
        <remap from="/head_xtion/depth_registered/image_raw/compressedDepth/parameter_descriptions" to="/camera/depth_registered/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_raw/compressedDepth/parameter_updates" to="/camera/depth_registered/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_raw/theora" to="/camera/depth_registered/image_raw/theora"/>
        <remap from="/head_xtion/depth_registered/image_raw/theora/parameter_descriptions" to="/camera/depth_registered/image_raw/theora/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_raw/theora/parameter_updates" to="/camera/depth_registered/image_raw/theora/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_rect" to="/camera/depth_registered/image_rect"/>
        <remap from="/head_xtion/depth_registered/image_rect/compressed" to="/camera/depth_registered/image_rect/compressed"/>
        <remap from="/head_xtion/depth_registered/image_rect/compressed/parameter_descriptions" to="/camera/depth_registered/image_rect/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_rect/compressed/parameter_updates" to="/camera/depth_registered/image_rect/compressed/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_rect/compressedDepth" to="/camera/depth_registered/image_rect/compressedDepth"/>
        <remap from="/head_xtion/depth_registered/image_rect/compressedDepth/parameter_descriptions" to="/camera/depth_registered/image_rect/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_rect/compressedDepth/parameter_updates" to="/camera/depth_registered/image_rect/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_rect/theora" to="/camera/depth_registered/image_rect/theora"/>
        <remap from="/head_xtion/depth_registered/image_rect/theora/parameter_descriptions" to="/camera/depth_registered/image_rect/theora/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_rect/theora/parameter_updates" to="/camera/depth_registered/image_rect/theora/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw" to="/camera/depth_registered/image_rect_raw"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/compressed" to="/camera/depth_registered/image_rect_raw/compressed"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/compressed/parameter_descriptions" to="/camera/depth_registered/image_rect_raw/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/compressed/parameter_updates" to="/camera/depth_registered/image_rect_raw/compressed/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/compressedDepth" to="/camera/depth_registered/image_rect_raw/compressedDepth"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/compressedDepth/parameter_descriptions" to="/camera/depth_registered/image_rect_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/compressedDepth/parameter_updates" to="/camera/depth_registered/image_rect_raw/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/theora" to="/camera/depth_registered/image_rect_raw/theora"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/theora/parameter_descriptions" to="/camera/depth_registered/image_rect_raw/theora/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/image_rect_raw/theora/parameter_updates" to="/camera/depth_registered/image_rect_raw/theora/parameter_updates"/>
        <remap from="/head_xtion/depth_registered/points" to="/camera/depth_registered/points"/>
        <remap from="/head_xtion/depth_registered/rectify_depth/parameter_descriptions" to="/camera/depth_registered/rectify_depth/parameter_descriptions"/>
        <remap from="/head_xtion/depth_registered/rectify_depth/parameter_updates" to="/camera/depth_registered/rectify_depth/parameter_updates"/>
        <remap from="/head_xtion/driver/parameter_descriptions" to="/camera/driver/parameter_descriptions"/>
        <remap from="/head_xtion/driver/parameter_updates" to="/camera/driver/parameter_updates"/>
        <remap from="/head_xtion/ir/camera_info" to="/camera/ir/camera_info"/>
        <remap from="/head_xtion/ir/image_raw" to="/camera/ir/image_raw"/>
        <remap from="/head_xtion/ir/image_raw/compressed" to="/camera/ir/image_raw/compressed"/>
        <remap from="/head_xtion/ir/image_raw/compressed/parameter_descriptions" to="/camera/ir/image_raw/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/ir/image_raw/compressed/parameter_updates" to="/camera/ir/image_raw/compressed/parameter_updates"/>
        <remap from="/head_xtion/ir/image_raw/compressedDepth" to="/camera/ir/image_raw/compressedDepth"/>
        <remap from="/head_xtion/ir/image_raw/compressedDepth/parameter_descriptions" to="/camera/ir/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/ir/image_raw/compressedDepth/parameter_updates" to="/camera/ir/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/ir/image_raw/theora" to="/camera/ir/image_raw/theora"/>
        <remap from="/head_xtion/ir/image_raw/theora/parameter_descriptions" to="/camera/ir/image_raw/theora/parameter_descriptions"/>
        <remap from="/head_xtion/ir/image_raw/theora/parameter_updates" to="/camera/ir/image_raw/theora/parameter_updates"/>
        <remap from="/head_xtion/ir/image_rect" to="/camera/ir/image_rect"/>
        <remap from="/head_xtion/ir/image_rect/compressed" to="/camera/ir/image_rect/compressed"/>
        <remap from="/head_xtion/ir/image_rect/compressed/parameter_descriptions" to="/camera/ir/image_rect/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/ir/image_rect/compressed/parameter_updates" to="/camera/ir/image_rect/compressed/parameter_updates"/>
        <remap from="/head_xtion/ir/image_rect/compressedDepth" to="/camera/ir/image_rect/compressedDepth"/>
        <remap from="/head_xtion/ir/image_rect/compressedDepth/parameter_descriptions" to="/camera/ir/image_rect/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/ir/image_rect/compressedDepth/parameter_updates" to="/camera/ir/image_rect/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/ir/image_rect/theora" to="/camera/ir/image_rect/theora"/>
        <remap from="/head_xtion/ir/image_rect/theora/parameter_descriptions" to="/camera/ir/image_rect/theora/parameter_descriptions"/>
        <remap from="/head_xtion/ir/image_rect/theora/parameter_updates" to="/camera/ir/image_rect/theora/parameter_updates"/>
        <remap from="/head_xtion/ir/rectify_ir/parameter_descriptions" to="/camera/ir/rectify_ir/parameter_descriptions"/>
        <remap from="/head_xtion/ir/rectify_ir/parameter_updates" to="/camera/ir/rectify_ir/parameter_updates"/>
        <remap from="/head_xtion/projector/camera_info" to="/camera/projector/camera_info"/>
        <remap from="/head_xtion/rgb/camera_info" to="/camera/rgb/camera_info"/>
        <remap from="/head_xtion/rgb/debayer/parameter_descriptions" to="/camera/rgb/debayer/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/debayer/parameter_updates" to="/camera/rgb/debayer/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_color" to="/camera/rgb/image_color"/>
        <remap from="/head_xtion/rgb/image_color/compressed" to="/camera/rgb/image_color/compressed"/>
        <remap from="/head_xtion/rgb/image_color/compressed/parameter_descriptions" to="/camera/rgb/image_color/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_color/compressed/parameter_updates" to="/camera/rgb/image_color/compressed/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_color/compressedDepth" to="/camera/rgb/image_color/compressedDepth"/>
        <remap from="/head_xtion/rgb/image_color/compressedDepth/parameter_descriptions" to="/camera/rgb/image_color/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_color/compressedDepth/parameter_updates" to="/camera/rgb/image_color/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_color/theora" to="/camera/rgb/image_color/theora"/>
        <remap from="/head_xtion/rgb/image_color/theora/parameter_descriptions" to="/camera/rgb/image_color/theora/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_color/theora/parameter_updates" to="/camera/rgb/image_color/theora/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_mono" to="/camera/rgb/image_mono"/>
        <remap from="/head_xtion/rgb/image_mono/compressed" to="/camera/rgb/image_mono/compressed"/>
        <remap from="/head_xtion/rgb/image_mono/compressed/parameter_descriptions" to="/camera/rgb/image_mono/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_mono/compressed/parameter_updates" to="/camera/rgb/image_mono/compressed/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_mono/compressedDepth" to="/camera/rgb/image_mono/compressedDepth"/>
        <remap from="/head_xtion/rgb/image_mono/compressedDepth/parameter_descriptions" to="/camera/rgb/image_mono/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_mono/compressedDepth/parameter_updates" to="/camera/rgb/image_mono/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_mono/theora" to="/camera/rgb/image_mono/theora"/>
        <remap from="/head_xtion/rgb/image_mono/theora/parameter_descriptions" to="/camera/rgb/image_mono/theora/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_mono/theora/parameter_updates" to="/camera/rgb/image_mono/theora/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_raw" to="/camera/rgb/image_raw"/>
        <remap from="/head_xtion/rgb/image_raw/compressed" to="/camera/rgb/image_raw/compressed"/>
        <remap from="/head_xtion/rgb/image_raw/compressed/parameter_descriptions" to="/camera/rgb/image_raw/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_raw/compressed/parameter_updates" to="/camera/rgb/image_raw/compressed/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_raw/compressedDepth" to="/camera/rgb/image_raw/compressedDepth"/>
        <remap from="/head_xtion/rgb/image_raw/compressedDepth/parameter_descriptions" to="/camera/rgb/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_raw/compressedDepth/parameter_updates" to="/camera/rgb/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_raw/theora" to="/camera/rgb/image_raw/theora"/>
        <remap from="/head_xtion/rgb/image_raw/theora/parameter_descriptions" to="/camera/rgb/image_raw/theora/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_raw/theora/parameter_updates" to="/camera/rgb/image_raw/theora/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_rect" to="/camera/rgb/image_rect"/>
        <remap from="/head_xtion/rgb/image_rect/compressed" to="/camera/rgb/image_rect/compressed"/>
        <remap from="/head_xtion/rgb/image_rect/compressed/parameter_descriptions" to="/camera/rgb/image_rect/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_rect/compressed/parameter_updates" to="/camera/rgb/image_rect/compressed/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_rect/compressedDepth" to="/camera/rgb/image_rect/compressedDepth"/>
        <remap from="/head_xtion/rgb/image_rect/compressedDepth/parameter_descriptions" to="/camera/rgb/image_rect/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_rect/compressedDepth/parameter_updates" to="/camera/rgb/image_rect/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_rect/theora" to="/camera/rgb/image_rect/theora"/>
        <remap from="/head_xtion/rgb/image_rect/theora/parameter_descriptions" to="/camera/rgb/image_rect/theora/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_rect/theora/parameter_updates" to="/camera/rgb/image_rect/theora/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_rect_color" to="/camera/rgb/image_rect_color"/>
        <remap from="/head_xtion/rgb/image_rect_color/compressed" to="/camera/rgb/image_rect_color/compressed"/>
        <remap from="/head_xtion/rgb/image_rect_color/compressed/parameter_descriptions" to="/camera/rgb/image_rect_color/compressed/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_rect_color/compressed/parameter_updates" to="/camera/rgb/image_rect_color/compressed/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_rect_color/compressedDepth" to="/camera/rgb/image_rect_color/compressedDepth"/>
        <remap from="/head_xtion/rgb/image_rect_color/compressedDepth/parameter_descriptions" to="/camera/rgb/image_rect_color/compressedDepth/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_rect_color/compressedDepth/parameter_updates" to="/camera/rgb/image_rect_color/compressedDepth/parameter_updates"/>
        <remap from="/head_xtion/rgb/image_rect_color/theora" to="/camera/rgb/image_rect_color/theora"/>
        <remap from="/head_xtion/rgb/image_rect_color/theora/parameter_descriptions" to="/camera/rgb/image_rect_color/theora/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/image_rect_color/theora/parameter_updates" to="/camera/rgb/image_rect_color/theora/parameter_updates"/>
        <remap from="/head_xtion/rgb/rectify_color/parameter_descriptions" to="/camera/rgb/rectify_color/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/rectify_color/parameter_updates" to="/camera/rgb/rectify_color/parameter_updates"/>
        <remap from="/head_xtion/rgb/rectify_mono/parameter_descriptions" to="/camera/rgb/rectify_mono/parameter_descriptions"/>
        <remap from="/head_xtion/rgb/rectify_mono/parameter_updates" to="/camera/rgb/rectify_mono/parameter_updates"/>
  <include file="$(find cob_people_detection)/ros/launch/people_detection.launch">
  </include>
</launch> 
